<div class="composer-type-menu">
  @for (type of postTypes; track type.formType) {
    <button type="button" class="composer-type-menu__item" (click)="selectType.emit(type.formType)">
      <span class="composer-type-menu__icon">
        <app-icon [name]="type.icon" [size]="17" />
      </span>
      <span class="composer-type-menu__copy">
        <span class="composer-type-menu__label">{{ type.label }}</span>
        <span class="composer-type-menu__hint">{{ type.hint }}</span>
      </span>
    </button>
  }
</div>
