<section class="surface-card travelers-rail-card">
  <div class="travelers-rail-card__label">TRAVELERS GOING WHERE YOU ARE</div>
  <div class="travelers-rail-card__list">
    @for (traveler of travelers(); track traveler.id) {
      <div class="travelers-rail-card__row">
        <span class="travelers-rail-card__avatar" [style.background-image]="'url(' + avatarFor(traveler) + ')'"></span>
        <span class="travelers-rail-card__identity">
          <span class="travelers-rail-card__name">{{ traveler.name }}</span>
          <span class="travelers-rail-card__line">{{ traveler.line }}</span>
        </span>
        <button type="button" class="travelers-rail-card__follow" [class.is-following]="followedIds().has(traveler.id)" (click)="toggleFollow.emit(traveler)">
          {{ followedIds().has(traveler.id) ? 'Following' : 'Follow' }}
        </button>
      </div>
    }
  </div>
</section>
