<section class="surface-card start-circle-card">
  <div class="start-circle-card__header">
    <span class="start-circle-card__icon">
      <app-icon name="compass" [size]="20" />
    </span>
    <span class="start-circle-card__copy">
      <span class="start-circle-card__title">Start your own community</span>
      <span class="start-circle-card__subtitle">Gather travelers around a place or a style of travel.</span>
    </span>
  </div>
  <button type="button" class="start-circle-card__button" (click)="createCircle.emit()">Create a community</button>
</section>
